<div class="container-fluid">
	<div class="row">
	  	<div class="col-xs-12 col-sm-6 col-md-8">
	  		<fieldset class="login-module" style="margin-top: 20px; margin-bottom: 20px;">
	  			<a href="/#/login" >Sign in to book faster <span class="icon icon-expand" aria-hidden="true"></span></a>
	  		</fieldset>
	  		<form method='post'>
		  		<div class="form-group">
	                <label for="exampleInputName2">Name</label>
	                <input type="text" name="name" value=""class="form-control" id="exampleInputEmail1" ng-model="User.name" placeholder="First and last name" required autofocus>
	            </div>

	            <div class="form-group">
	                <label for="exampleInputEmail1">Mobile phone number</label>
	                <input type="text" name="phone" class="form-control" id="exampleInputEmail1" placeholder="Mobile phone number" ng-model="User.phone" required>
	            </div>
	            <div class="form-group">
	                <label for="exampleInputEmail1">Email address</label>
	                <input type="email" name="email" value=""  class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="User.email" required>
	            </div>
	             <div class="form-group">
	                <label for="exampleInputEmail1">Password</label>
	                <input type="password" name="password" value=""  class="form-control" id="exampleInputEmail1" placeholder="Password" ng-model="User.password" required>
	            </div>
	            <div class="form-group">
	                <label for="exampleInputEmail1">Zipcode</label>
	                <input type="text" name="zipcode" value=""  class="form-control" id="exampleInputEmail1" placeholder="Zipcode" ng-model="User.zipcode" required>
	            </div>
				<div class="payment well">
					<fieldset>
					<h3>Payment details</h3>
					<div class="form-group">
		                <label for="exampleInputPassword1">Cardholder name</label>
		                <input type="text" name="Cardholder_name" class="form-control" id="exampleInputPassword1" placeholder="Cardholder name" ng-model="User.Cardholder_name" required>
		            </div>
		            <div class="form-group">
		                <label for="exampleInputPassword1">Debit/Credit card number</label>
		                <input type="text" name="card_number" class="form-control" id="exampleInputPassword1" placeholder="Debit/Credit card number" ng-model="User.card_number" required>
		            </div>				
					</fieldset>
					<fieldset>
						<label for="code" >Security code</label>
						<input id="rooms" type="text" name="code" style="width: 40px;"ng-model="User.code"></input>
						<label for="qf-0q-localised-check-in" >Expiration date*</label>
						
						<select>
							<option class="service-small">Month</option>
							 <option ng-repeat="month in [1,2,3,4,5,6,7,8,9,10,11,12]">{{ month }}</option>
						</select>
						<select class="form-group">
							<option style="font-size: 5px;">Year</option>
							 <option ng-repeat="year in [2016,2017,2018,2019,2020,2021,2022,2023,2024,2025]">{{ year }}</option>
						</select>						
					</fieldset>
		            <p>
			        	<button type="button" class="btn btn-danger" width="300" height="200" display= "inline-block" ng-click="placeOrder(User)">Complete Booking</button>
			      	</p>
			    </div>
		    </form>
	  	</div>
	  	<div class="col-xs-6 col-md-4" ng-repeat="detail in details">
	  	<h3>Room details</h3>
	  		<div class="thumbnail">
		  		<img ng-src="{{detail.imgURL.photos[0]}}" alt="...">
			    <div class="caption">
			     	<h4 style="color: green;">{{detail.name}}</h4>
			      	<p>{{detail.address}}, {{detail.city}}, {{detail.zipcode}}</p>
			      	<p>{{detail.phone}}</p>
			      	<p>Check in: {{cusRequest.checkin | date:'yyyy-MM-dd'}}</p>
			      	<p>Check out: {{cusRequest.checkout | date:'yyyy-MM-dd'}}</p>
			      	<p>{{cusRequest.numRoom.value}} {{detail.room_Rate.room_detail[0].room_type}} For: {{cusRequest.numDog.value}} Dog</p>
			      	<div style="display:inline-block"; >
			      		<p>Total to pay: </p>
			      	</div>
			      	<div style="display:inline-block;">
			      		<h3> {{detail.room_Rate.room_detail[0].rate.oneSize | currency:undefined:0}}</h3>
			      	</div>
			    </div>
			    <div ng-controller="Example">
			        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
			        <ui-gmap-markers models="marker" coords="'self'" icon="'icon'" idKey="'idKey'"></ui-gmap-markers>
        			
				</div>
			</div>
	  	</div>
	</div>
</div>
