<div class="container-fluid">
	<div class="row">
	  	<div class="col-xs-12 col-sm-6 col-md-8">
	  		<fieldset class="login-module">
	  			<a href="/#/login">Sign in to book faster <span class="icon icon-expand" aria-hidden="true"></span></a>
	  		</fieldset>
	  		<div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" name="name" value=""class="form-control" id="exampleInputEmail1" ng-model="User.name" placeholder="First and last name" required autofocus>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Mobile phone number</label>
                <input type="text" name="phone" value=""  class="form-control" id="exampleInputEmail1" placeholder="Mobile phone number" ng-model="User.email" required>
            </div>

			<fieldset>
			<h3>Payment details</h3>
			<div class="form-group">
                <label for="exampleInputPassword1">Cardholder name</label>
                <input type="text" name="Cardholder_name" class="form-control" id="exampleInputPassword1" placeholder="Cardholder name" ng-model="User.password" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Debit/Credit card number</label>
                <input type="text" name="card_number" class="form-control" id="exampleInputPassword1" placeholder="Debit/Credit card number" ng-model="User.password" required>
            </div>				
			</fieldset>
			<fieldset>
				<label for="qf-0q-localised-check-in" >Expiration date*</label>
				<input id="ExpDate" type="number" value="1"  min="1" max="12" name="numRoom" ng-model="Hotels.numRoom"></input>				
				<label for="qf-0q-localised-check-in" >Year</label>
				<input id="rooms" type="number" value="1" min="0" max="5"  name="numDog" ng-model="Hotels.numDog"></input>
			</fieldset>
            <p>
	        	<button type="button" class="btn btn-danger" width="300" height="200" display= "inline-block" ng-click="placeOrder()">Complete Booking</button>
	      	</p>
	  	</div>
	  	<div class="col-xs-6 col-md-4" ng-repeat="detail in details">
	  	<h3>Room details</h3>
	  		<div class="thumbnail">
		  		<img ng-src="{{detail.imgURL.photos[0]}}" alt="...">
			    <div class="caption">
			     	<h4 id='thumbnailLabel'>{{detail.name}}</h4>
			      	<p>{{detail.address}}</p>
			      	<p>{{detail.description}}...</p>
			      	<p>Check in: {{cusRequest.checkin}}</p>
			      	<p>Check out: {{cusRequest.checkout}}</p>
			      	<p>{{cusRequest.numRoom}} Room </p>
			    </div>
			</div>
	  	</div>
	</div>
	
</div>
