<div class="jumbotron">
	<div class="row" ng-repeat="detail in details">
		<div class="col-md-offset-4 col-md-4">
			<div class="thumbnail">
			  <img ng-src="{{detail.imgURL.photos[0]}}" alt="...">
			    <div class="caption">
			      <h4 id='thumbnailLabel'>{{detail.name}}</h4>
			      <p>{{detail.address}}</p>
			      <p>{{detail.description | limitTo: 275}}...</p>
			      <p>
			        <button type="button" class="btn btn-info" ng-click="placeOrder()">Place Order</button>
			      </p>
			    </div>
			</div>
		</div>
	</div>
</div>
			        	<span>
				        	<button type="submit" class="btn btn-warning" ng-hide="editMode" ng-click="editMode = true; editItem(order.item)">Edit
							</button>
						</span>
						<span>
				        	<button type="submit" class="btn btn-warning" ng-show="editMode" ng-click="editMode = false">Save
							</button>
						</span>
			        	<button type="button" class="btn btn-danger" ng-click="removeItem(order)">Remove</button>
	
