<div class="container-fluid" ng-controller="Searching">
	<div class="row">
		<div class="well">
			<table class="table table-bordered">
				<tbody>
			      <tr class="space" ng-repeat="hotel in hotels">
			        <td><img ng-src="{{hotel.image_url}}" width="300" height="200"></td>
			        <td class="tdContainer"><h3>{{hotel.name}}
			        	<span class="pull-right">$85 
		        			<button type="button" class="btn btn-info" ng-click="getHotel(hotel.id)">Book</button>
			        	</span>
			        	</h3>	     
			        	<h5>{{hotel.location.display_address}}</h5> 		        				       
			        	<h5>Phone: {{hotel.phone}}</h5>
			        	<h5>Rating: {{hotel.rating}}</h5>		          			
		        	</td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>
<!-- <div class="hotel-wrap">
	<div class="well">
		<div class="description-hotel" ng-repeat="hotel in hotels">
			<h3 class="p-name">
				<a href="">{{hotel.name}}</a>
			</h3>
			<p>{{hotel.location.display_address}}</p>
			<p>Phone: {{hotel.phone}}</p>
			<div class="img-detail">
				<div class="img">
					<img ng-src="{{hotel.image_url}}" width="300" height="200">
				</div>
			</div>
			<div class="price pull-right" >
				<span class="pull-right">$85 
        			<button type="button" class="btn btn-info" ng-click="addToBag(item,quantity)">Book</button>
	        	</span>
			</div>
		</div>
	</div>
	</div> -->
</div>

