<div class="container-fluid">
	<section id="tools-menu">
		<div id="sort" class="well">
			<p class="sort-label"></p>
			<form name="basic-sort" id="basic-sort" method="get" action="" autocomplete="off">
				<label for="sort-order" class="offscreen">Sort by</label>
				<select name="sort-order" id="sort-order" ng-model="sortByPrice">
					<option id="opt_GUEST_RATING" value="-rating">Guest rating</option>
					<option id="opt_PRICE_HIGHEST_FIRST" value="-room_Rate.room_detail[0].rate.oneSize">Price (high to low)</option>
					<option id="opt_PRICE" value="room_Rate.room_detail[0].rate.oneSize">Price (low to high)</option>
				</select>
				<!-- <select name="sort-order" id="sort-order" ng-model="sortByRate">
					<option id="opt_GUEST_RATING" value="-rating">Guest rating</option>
					<option id="opt_GUEST_RATING" value="rating">Guest rating</option>					
				</select> -->
			</form>
		</div>
	</section>
		
	<div class="description-hotel well" ng-repeat="hotel in hotels | filter:sortByRate | orderBy: sortByPrice">
		<h3 class="p-name">
			<a href="">{{hotel.name}}</a>
		</h3>
		<div class="price pull-right" >
			<span class="pull-right">
				<h3 ng-model="hotel.room_Rate.room_detail[0].rate.oneSize" style="margin-left: 10px; font-weight: 400;">{{hotel.room_Rate.room_detail[0].rate.oneSize | currency:undefined:0}}</h3>
    			<button type="button" class="btn btn-info" ng-click="getHotel(hotel.id)">Choose Hotel</button>
    			<h4>Rating: {{hotel.rating}}</h4>	
        	</span>
		</div>
		<p>{{hotel.address}}, {{hotel.city}}, {{hotel.zipcode}}</p>
		<p>Phone: {{hotel.phone}}</p>
		
			<img ng-src="{{hotel.imgURL.photos[0]}}" width="350" height="250" display= "inline-block">

			<div style="display:inline-block; margin-left: 20px;" >
				<!-- <div ng-show="{{hotel.rating}} == 3 || ">
					<img ng-src="https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png">
				</div> -->
				<div ng-show="{{hotel.rating}} < 4" >
					<img ng-src="https://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png">
				</div>
				<div ng-show="{{hotel.rating}} == 4">
					<img ng-src="https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png">
				</div>
				<div ng-show="{{hotel.rating}} > 4 && {{hotel.rating}} < 5">
					<img ng-src="https://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png">
				</div>
				<div ng-show="{{hotel.rating}} == 5">
					<img ng-src="https://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png">
				</div>
  				<p style="font-size: 15px; width:500px; height:40px; overflow:hidden;">{{hotel.room_Rate.room_detail[0].desc}}</p>
			</div>
		</div>
	</div>
	


