<section class="module parallax parallax-1">
	    <div class="container-fluid">
	      <h1></h1>
	    </div>
</section>
<div class="cout widget-query">
	<h1>Hotel search</h1>
	<form>
		<fieldset>
			<input type="text" name="q-destination" required="true"></input>
			<button type="button" class="cta cta-geo" aria-label="Use my current location">
				<i class="fa fa-crosshairs fa-2x fa-spin" style="color: green"></i>
			</button>
			<label for="qf-0q-destination">Destination, hotel, landmark or address</label>
		</fieldset>
		<fieldset>
			<label for="qf-0q-localised-check-in" id="widget-query-label-2">Check in</label>
			<input type="text" name="q-destination" required="true"></input>
		</fieldset>
		<fieldset>
			<label for="qf-0q-localised-check-in" id="widget-query-label-2">Check out</label>
			<input type="text" name="q-destination" required="true"></input>
		</fieldset>
		<fieldset>
			<label for="qf-0q-localised-check-in" id="widget-query-label-2">room</label>
			<input type="text" name="q-destination" required="true"></input>
		</fieldset>
		
		<button type="submit" class="cta cta-strong">Search</button>
	</form>	
</div>
<div>
	<section class="module parallax parallax-2">
	    <div class="container-fluid">
	      	<h1></h1>
	    </div>
	</section>
</div>

<div>
  	<section class="module parallax parallax-3">
    	<div class="container-fluid">
     		<h1></h1>
    	</div>
  	</section>
</div>