<div class="petIMG" style="height: 700px">	
	<div class="container-fluid">	
		<div class="widget-query">

			<h1 style="margin-left: 15px; font-weight: 400;">Hotel search</h1>
			<form >
				<fieldset>
				<div>
		      		<input class="form-control fa fa-map-marker" name="city" placeholder="Enter your address" type="text" ng-autocomplete="Hotels.city" required autofocus></input>
				</div>

					<label for="qf-0q-destination">Destination, hotel, landmark or address</label>
				</fieldset>
				<fieldset>
					<div class="form-inline" role="form">
						<label for="qf-0q-localised-check-in" style="font-size: 12pt;">Check in</label>
		                <input type='date' class="date form-control fa fa-calendar-o" name="checkin" ng-model="Hotels.checkin" placeholder="MM/DD/YYYY"/>
						<label for="qf-0q-localised-check-in" style="font-size: 12pt;">Check out</label>
		                <input type='date' class="date form-control fa fa-calendar-o" name="checkout" ng-model="Hotels.checkout" placeholder="MM/DD/YYYY"/>            
		            </div>
		    	</fieldset>
				<fieldset>
					<label for="qf-0q-localised-check-in"  style="font-size: 12pt;">rooms</label>
					{{Hotel.numRoom}}
					<select ng-model="Hotels.numRoom" style="width: 80px;margin-left: 15px;" ng-options="num as num.name for num in hotelRoomOptions">
					</select>
					<label for="qf-0q-localised-check-in" style="font-size: 12pt;">Dog</label>
					<select ng-model="Hotels.numDog" style="width: 80px;" ng-options="num as num.name for num in hotelRoomOptions">
					</select>			
					<label for="qf-0q-localised-check-in" style="font-size: 12pt;">Cat</label>
					<select ng-model="Hotels.numCat" style="width: 80px;" ng-options="num.value as num.name for num in hotelRoomOptions">
						<!-- <option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option> -->
					</select>	
					<!-- <input id="rooms" type="number" value="1" min="1" max="5"  name="numDog" ng-model="Hotels.numDog"></input> -->
				</fieldset>		
				<button class="btn btn-info" style="margin-left: 80px; margin-top: 10px; width: 110px;" ng-click="searchHotel(Hotels)">Search</button>
			</form>	
		</div>  <!-- end div cout widget-query -->
	</div> <!-- end div container-fluid -->
</div>
<!-- <div class="seperate"></div> -->
<h2 id="title" style="text-align: center">Today's most popular hotel deals</h2>
<section class="module content">
	<div class="container-fluid">

	
		<div class="row" id='hotelCategory'>
	        <div class="col-sm-3 col-md-4">			
				<div class="thumbnail">
					<img src="/client/images/pet1.jpeg" alt="...">				
				</div>
			</div>	
	        <div class="col-sm-3 col-md-4">			
				<div class="thumbnail">				
					<img src="/client/images/pet2.jpeg" alt="...">
				</div>
			</div>		
	        <div class="col-sm-3 col-md-4">		
				<div class="thumbnail">				
					<img src="/client/images/iStock_000012586140_Medium.jpg" alt="...">
				</div>
			</div>
		</div>
	</div>
</section>
<h2 id="title" style="text-align: center">Recommended cities for you</h2>
<div>
	<section class="petIMG2" style="height: 700px">
	    <div class="container-fluid">
	      	<h1></h1>
	    </div>
	</section>
</div>

