<section class="module parallax parallax-1">
	    <div class="container-fluid">
	      <h1>MUSIC</h1>
	    </div>
</section>
<div class="cout widget-query">
	<h1>Hotel search</h1>
	<form>
		<fieldset>
			<input type="text" name="q-destination" required="true"></input>
			<button type="button" class="cta cta-geo" aria-label="Use my current location"></button>
		</fieldset>
		<fieldset>
			<input type="text" name="q-destination" required="true"></input>
		</fieldset>
		<fieldset>
			<input type="text" name="q-destination" required="true"></input>
		</fieldset>
		<fieldset>
			<input type="text" name="q-destination" required="true"></input>
		</fieldset>
		<fieldset>
			<input type="text" name="q-destination" required="true"></input>
		</fieldset>
	</form>	
</div>
<div>
	<section class="module parallax parallax-2">
	    <div class="container-fluid">
	      	<h1>FOOD</h1>
	    </div>
	</section>
</div>

<div>
  	<section class="module parallax parallax-3">
    	<div class="container-fluid">
     		<h1>SPORTS</h1>
    	</div>
  	</section>
</div>