
<div class="row" id="signup-form">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h4 id='fb-signup'> SIGNUP USING FACEBOOK: </h4>
        <a href="/auth/facebook">
            <img id='fb-btn' src='http://www.bon-app.com/bonapp2/images/social-media/facebook-signup-button.png'>
        </a>
    </div>

    <div class="col-md-4">
    <p id="create-email-account-title" class="message-color">Or, Create an account with your Email</p>
        <form id='signup-form' action='/#/signup' method='post'>
            <h4 id='signup-here'> SIGNUP USING EMAIL: </h4>
            <br>
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" name="name" value=""class="form-control" id="exampleInputEmail1" placeholder="Full Name">
            </div>
            
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" value=""  class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn-primary btn-action remove-margin" id="create-account-submit-button"><span class="btn-label">Create Account</span></button>
        </form>
    </div> 
    <div class="col-md-2"></div>
</div>
