
<div class="row" id="signup-form">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h4 id='fb-signup'> SIGNUP USING FACEBOOK: </h4>
        <a href="/auth/facebook">
            <img id='fb-btn' src="https://www.eatthismuch.com/static_files/images/facebook_signup_button.png"width="240" height="50">
        </a>
    </div>

    <div class="col-md-4" ng-controller="SignupCtrl">
    
        <div class="alert alert-danger" ng-if="errorMessage">{{errorMessage}}</div>
        <form id='signup-form' method='post'>
            <h4 id='signup-here'> SIGNUP USING EMAIL: </h4>
            <br>
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" name="name" value=""class="form-control" id="exampleInputEmail1" ng-model="User.name" placeholder="Full Name" required autofocus>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" value=""  class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="User.email" required>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="User.password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" ng-click="register()">Create Account</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
