body {
  font-size: 16px;
  background: white;  
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 1em;
    background: #90C830;
}
.petIMG{
  background-image: url("../images/pet-friendly-apartments.jpg");
  height: 400px;
  background-size:cover;
  background-repeat:no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -2%;
}

.petIMG2{
  background-image: url("../images/Pet-Friendly-Page.jpg");
  height: 500px;
  background-size: cover;
  background-repeat:no-repeat;
  position: center;
}
.space{
  margin-bottom: 10px;
  margin-top: 10px;
}

#rooms { 
  width: 6em;
  color: grey; 
}

#signup-form {
  height: 700px;
}

.container-fluid {
  margin: 0 8%;
}
#displayFormat {
 display: block;
 margin: 0 auto;
 width: 100%;
}
#header{
    color: white;
}
.navbar-brand{
    font-size: 35px;
}
#homeButton{
    color: white;
    font-size: 15px;
    margin-top: 40%;
    padding-top: 2px;
    padding-bottom: 2px;
}
#loginButton{
    color: white;
    font-size: 15px;
    margin-top: 42%;
    padding-top: 2px;
    padding-bottom: 2px;
}
#logout{
    color: white;
    background-color: #93c54b;
    font-size: 15px;
    margin-top: 40%;
    margin-right: 8%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.container-queryform .widget-query {
    width: 100%;
    
}

.widget-carousel-title-1{
    display: block!important;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
    padding: 0px 8px 12px;
    color: #4e4e4e;
    line-height: 30px;
}

.widget-query{
    background-color: transparent;
    border-color: #ccc;
    box-shadow: 0 0 12px 0 #4e4e4e;
    /*min-width: 300px !important;*/
    max-width: 1000px;
    outline: none;
    color: white;
    position: relative;
    top: 250px;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.cont {
    background-color: #f5f4f0;
    border-radius: 4px;
    border: 1px solid #ccc;

}

.widget-query fieldset {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px #f5f4f0;
    padding: 7px 15px 6px;
    position: relative;
}

.input-group date{
  float: left;
}

.widget-query-dates label, .widget-query-room-number label {
    font-size: 1.333em;
    font-weight: bold;
    display: inline;
    margin-bottom: 3px;
}

.cta.cta-active {
   background-position: 50%;
    border: 1px solid #bbe9ff;
    border-bottom-color: #30a0fd;
    border-left-color: #95cffe;
    border-right-color: #95cffe;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #30a0fd,1px 1px 0.5px 1px rgba(60,163,227,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 2px 4px;
    overflow: hidden;
    padding: 2px 10px;
    position: relative;
    vertical-align: middle;
    width: auto;
}
div {
    display: block;
}
    .hotel-wrap {
    border: 3px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 0 #ccc;
    position: relative;

}

 .price {
    display: block;
    margin-bottom: 4px;
    margin-top: -2px;
    line-height: 1;

}
.description-hotel {
    padding: 14px 16px 16px 16px;
    width: 75%;
}

#mainImg{
    width: 1150px;
}
#navbar{
    margin-bottom: 0px;
}
#search-box{
    margin-top: 20px;
    margin-left: 33%;
    margin-bottom: 2%;  
}
#searchBtn{
  padding-left: 10px;
  padding-right: 10px;
  height: 37.9861px;
  border: 1px solid #CCCCCC;
  border-radius:5px;
}

#searchBtn:hover {
  box-shadow: 0 0 0 .1em #CCCCCC;
}

#eventName {
  width: 400px;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#musicCategory{
    margin-bottom: 20px;
    width: 100%;
}


div.thumbnail {
  float: left;
}

#Logo {
  height: 43.5px;
}

div.thumbnail > img {
  min-height: 20.25em;
  max-height: 25.25em;
}
#thumbnailLabel{
    text-align: center;
}
#thumbnailBtn{
    margin-left: 82%;
    font-size: 9px;
    margin-top: 27%;
    padding-top: 2px;
    padding-bottom: 2px;
}
#removeBtn{
    margin-left: 78%;
    font-size: 9px;
    margin-top: 27%;
    padding-top: 2px;
    padding-bottom: 2px;
}
}
#myEventsCategory{
    margin-bottom: 20px;
}
#thumbnailLabel{
    text-align: center;
}
#thumbnailBtn{
    margin-left: 82%;
    font-size: 9px;
    margin-top: 27%;
    padding-top: 2px;
    padding-bottom: 2px;
}
#removeBtn{
    margin-left: 78%;
    font-size: 9px;
    margin-top: 27%;
    padding-top: 2px;
    padding-bottom: 2px;
}
#popLabel{
    text-align: center;
}
#footer{
    color: white;
    text-align: center;
    height: 1px;
    width: 100%;
}
#footerText{
    color: white;
    text-align: center;
}
.fa-spin {
    animation: fa-spin 4s infinite linear;
}
#signupLabel{
    text-align: center;
}
#fbBtn{
    margin-left: 47%;
    margin-bottom: 50px;
}
#loginSpacing{
    padding-top: 20px;
    padding-bottom: 50px;
}
/* ============================================================
  PARALLAX SECTIONS
============================================================ */
section.module:last-child {
   margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  
   /* background-image: url("../images/Pet-Friendly-Page.jpg");*/
}
section.module.parallax-2 {
  background-image: url("../images/pet-friendly-apartments.jpg");
}
section.module.parallax-3 {
  background-image: url("../images/western-hills-pet-friendly.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 700px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

