body {
  font-size: 16px;
  background: white;  
  color: #4e4e4e;
  line-height: 135%;
  font-family: helvetica;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 1.6em;
    background: #90C830;
    font-size: 15px;
}
.navbar li{
  margin-top: 10px;
}
.petIMG{
  background-image: url("../images/pet-friendly-apartments.jpg");
  height: 400px;
  background-size:cover;
  background-repeat:no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -2%;
}

.petIMG2{
  background-image: url("../images/Pet-Friendly-Page.jpg");
  height: 500px;
  background-size: cover;
  background-repeat:no-repeat;
  position: center;
}
table {
    border-collapse: separate;
    border-spacing: 0 3em;
    margin-left: -20;
    margin-right: 0;
    padding-left: 0;
}

td {
    padding-top: .5em;
    padding-bottom: .8em;
}
.sort{
  height: 100px;
  width: 200%;
}
.module content {
    padding: -20px 0;
}
.angular-google-map-container {
        height: 300px;
}

select{
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 1px #f5f4f0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #4e4e4e;
  font-size: 1.1em;
  margin: 3px 0;
  padding: 5px 10px 4px 7px;
}


#rooms { 
  width: 6em;
  color: grey; 
}

#signup-form {
  min-height: 700px !important;
  height: auto;
}
 #booking {
  height: 700px;
}


.container-fluid {
  margin: 0 5%;
}
#displayFormat {
 display: block;
 margin: 0 auto;
 width: 100%;
}
#header{
    color: white;
}
.navbar-brand{
    font-size: 35px;
}
#homeButton{
    color: white;
    font-size: 15px;
    margin-top: 40%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.loginButton{
    color: white;
    font-size: 15px;
    margin-top: 42%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.logoutButton{
    color: white;
    font-size: 15px;
    margin-top: 42%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.container-queryform .widget-query {
    width: 100%;    
}

title{
   text-align: center;
   display: block;
   margin: 0 auto;
}

.widget-query{
    background: rgb(211,211,211); /* The Fallback */
    background: rgba(211,211,211, 0.5); 
    box-shadow: 0 0 12px 5px grey;
    min-width: 600px !important;
    max-width: 600px;
    outline: none;
    position: relative;
    top: 250px;
    margin-left: 900px;
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.cont {
    border-radius: 4px;
    border: 1px solid #ccc;

}

.widget-query fieldset,h1 {
    border-bottom: 1px solid #ccc;
    border-color: black;
    color: black;
    box-shadow: 0 1px #f5f4f0;
    padding: 7px 15px 6px;
    position: relative;
}

input{
  background-color: white;
}

#mainImg{
    width: 1150px;
}

.listHotel{
  width: 80%;
  margin-left: 300px;
}

.hotelRow{
  margin-top: 20px;
}
.fixImage{
  position : fixed; 
  padding: 5px 0 0 5px; 
  height: 250px; 
  width: 200px;
  margin-left: 40px;
  background-color: white;
  border: none;
}
.btn-group button{
  height: 50px;
  /*background-color: white;*/
  color: green;
  font-weight: 600;
}
hr.style4 {
  border-top: 1px dotted #8c8b8b;
}

#tools-menu{
  margin-bottom: -15px; 
  margin-top: 5px;
  width: 101%;
}
#eventName {
  width: 400px;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.rating{
  margin-top: 10px;
  margin-left: 20px;
}
#hotelCategory{
    margin-bottom: 20px;
    width: 100%;
}

div.thumbnail {
  float: left;
}

label{
  font-size: 15px;
}
.selected{
  width: 70px;
  font-size: 12px;
  font-family: helvetica;
}
h1 h2 h3{
  font-family: helvetica;
  font-weight: 600;
}

#Logo {
  height: 45.5px;
}

div.thumbnail > img {
  min-height: 20.25em;
  max-height: 25.25em;
}
#thumbnailLabel{
    text-align: center;
}

#myEventsCategory{
    margin-bottom: 20px;
}

#thumbnailBtn{
    margin-left: 82%;
    font-size: 9px;
    margin-top: 27%;
    padding-top: 2px;
    padding-bottom: 2px;
}

#footer{
    color: white;
    text-align: center;
    height: 1px;
    width: 100%;
}
#footerText{
    color: white;
    text-align: center;
}
  
#signupLabel{
    text-align: center;
}
#fbBtn{
    margin-left: 47%;
    margin-bottom: 50px;
}

#loginSpacing{
    padding-top: 20px;
    padding-bottom: 50px;
}
.slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url("../images/blank.gif") no-repeat;
}

.arrow.prev {
    
    left: 20px;
    background-image: url("../images/paddle_prev_999.png");
    transition: 0.2s linear all;
}

.arrow.next {
    
    right: 20px;
    background-image: url("../images/paddle_next_999.png");
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url("../images/paddle_prev_fff.png");
}

.arrow.next:hover {
    opacity: 1;
    background-image: url("../images/paddle_next_fff.png");
}

.navImg {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.navImg .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.navImg ul {
    margin: 0;
    width: 100%;
}

.navImg .dot, .navImg .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 15px;
    height: 15px;
}

.dots .dot a {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
}