<!DOCTYPE html>
<html ng-app="pawpawHotel">
<head>
	<title>Paw Paw Hotel</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"> </script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"> </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/client/css/style.css">
</head>
<body>
  	<div class="container-fluid">  
		<nav class="navbar navbar-default" id='navbar'>
	          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	              <ul class="nav navbar-nav" id='left-nav-items'>
	                  <li><a href="/tvshows/popular">Popular</a>
	                  </li>
	                  <li><a href="/tvshows/topRated">Highly Rated</a>
	                  </li>
	              </ul>
	              <ul class='nav navbar-nav navbar-right' id='right-nav-items'>
	                  <li><a href="/users/profile">Profile</a>
	                  </li>
	                  <li><a href="/users/login">Login</a>
	                  </li>
	                  <li><a href="/users/signup">Signup</a>
	                  </li>
	              </ul>
	          </div>
	    </nav>
	    <div ng-view> </div>
	    <div class="navbar navbar-default" id='footer'>
		<h5 id='footerText' Tum <i class="fa fa-cog fa-xs fa-spin ">Sirinapha Dube</i></h5>
	</div>
    </div>

</body>
</html>