<!DOCTYPE html>
<html ng-app="pawpawHotel">
<head>
	<title>Paw Paw Hotel</title>
	<!-- Css Page -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/client/css/style.css">
</head>
<body>
  	 	<!-- HEADER -->
	<nav class="navbar navbar-default" id='navbar'>
        <div class="container-fluid">
        	<div class="navbar-header">
	        	<a class="navbar-brand" href="/#/" id='header'>
     				<img src="/client/images/Drawing (5).png" id="Logo" alt="">
     			</a>
    		</div>
              
          	<ul class='nav navbar-nav navbar-right' ng-controller="NavCtrl">
              	<li><a ng-href="/#/login" class='loginButton' ng-show="!isUserLoggedIn"><strong>Sign in</strong></a>
              	<li><a ng-href="/#/profile" ng-show="isUserLoggedIn"><strong>{{details[0].name}}</strong></a>
              	<li><a ng-click="logout()" ng-show="isUserLoggedIn"><strong>Log out</strong></a>
              	<li><a ng-href="/#/signup" class='loginButton' ng-show="!isUserLoggedIn"><strong>Sign up</strong></a></li>
            </ul>
        </div>
    </nav>
    
    <div ng-view class="main"> </div>
    <!-- FOOTER -->
    <div class="navbar navbar-default" id='footer'>
		<h5 id='footerText'>&copy; petBestHotel 2016 by Sirinapha Dube - All rights reserved</h5>
	</div>
   	<!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"> </script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
	<!-- googleapi -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<script src="//rawgit.com/angular-ui/angular-google-maps/2.1.5/dist/angular-google-maps.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
	
	<!-- Javascript -->
	<script type="text/javascript" src="/client/js/app.js"></script>
	<script type="text/javascript" src="/client/js/services.js"></script>
	<script type="text/javascript" src="/client/js/controllers.js"></script>
	<script type="text/javascript" src="/client/js/directive.js"></script>
</body>
</html>