<!DOCTYPE html>
<html ng-app="pawpawHotel">
<head>
	<title>Paw Paw Hotel</title>

	<!-- Css Page -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/client/css/style.css">
</head>
<body>
  	 	<!-- HEADER -->
	<nav class="navbar navbar-default" id='navbar'>
        <div class="container-fluid">
        	<div class="navbar-header">
	        	<a class="navbar-brand" href="/#/" id='header'>
     				<img src="/client/images/Drawing (2).png" id="Logo" alt="">
     			</a>
    		</div>
              
          	<ul class='nav navbar-nav navbar-right'>
              	<li><a ng-href="/#/login" id='loginButton'><strong>Sign in</strong></a></li>
              	<li><a ng-href="/#/signup" id='loginButton'><strong>Sign up</strong></a></li>
            </ul>
        </div>
    </nav>
	    <div ng-view class="main"> </div>
	    <!-- FOOTER -->
	    <div class="navbar navbar-default" id='footer'>
			<h5 id='footerText'><i class="fa fa-cog fa-xs">Sirinapha Dube</i></h5>
		</div>
   	<!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"> </script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA6fxUJxQ_tdCCCpVpKVlLACUd45C3NLc&libraries=places&callback=initAutocomplete"
        async defer></script>
	<!-- Javascript -->
	<script type="text/javascript" src="/client/js/app.js"></script>
	<script type="text/javascript" src="/client/js/autocomplete.js"></script>
	<script type="text/javascript" src="/client/js/controllers.js"></script>

</body>
</html>